[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "gibo"]
	path = gibo
	url = https://github.com/simonwhitaker/gibo.git
[submodule "bullet-train-oh-my-zsh-theme"]
	path = bullet-train-oh-my-zsh-theme
	url = https://github.com/caiogondim/bullet-train-oh-my-zsh-theme.git
