[submodule "gitflow"]
	path = gitflow
	url = git://github.com/nvie/gitflow.git

[submodule "gitflow-completion"]
	path = gitflow-completion
	url = git://github.com/bobthecow/git-flow-completion.git

[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
